@font-face {
  font-family: ArialMT;
  src: url("/fonts/arial.ttf") format("ttf");
}
body {
  display: grid;
  margin: 0;
  grid-template-areas: "wrapper";
  font-family: "ArialMT", sans-serif;
  font-weight: normal;
}

.wrapper {
  background-color: rgb(231, 233, 237);
  grid-area: wrapper;
  min-height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template: minmax(100px, auto) 34px 1fr 57px minmax(70px, auto)/1024px;
  grid-template-areas: "header" "gasket" "main" "gasket-bottom" "footer";
}

.header {
  background-color: white;
  grid-area: header;
  margin: 0 37px 0 28px;
  display: grid;
  grid-template: 48px 126px/959px;
}
.header .header-nav {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template: 48px/610px 229px;
  background-color: #4f4f4f;
  color: #e2e2e2;
}
.header .header-nav ul {
  display: grid;
  justify-content: space-between;
  grid-template: 15px/78px 53px 65px 103px 66px 65px;
  list-style: none;
  height: 22px;
  padding: 0;
  margin: 0 0 0 31px;
}
.header .header-nav ul li a {
  border-bottom: 1px solid #e2e2e2;
  font-size: 14px;
  color: #e2e2e2;
  text-decoration: none;
}
.header .header-nav ul li a:hover {
  color: #ec6c39;
}
.header .header-nav input {
  height: 25px;
  margin-right: 30px;
  padding: 0 7px 0 16px;
  background: white url("/img/content-img/search-non-active.png") no-repeat scroll 96% 50%;
  border: none;
  border-radius: 1px;
}

.header-content {
  display: grid;
  grid-template: 1fr 1fr/repeat(4, 1fr);
}

.header-content__logo {
  grid-row: 1/3;
  order: 1;
  margin: 9px 0 0 30px;
}

.header-content-contact__tel {
  grid-column: 2/4;
  order: 2;
  align-self: end;
  margin-left: 52px;
  padding-top: 43px;
  font-size: 20px;
  display: inline-grid;
  grid-template: 1fr/14px 160px 155px;
  align-items: center;
  cursor: default;
}
.header-content-contact__tel .first-number {
  padding-left: 10px;
}
.header-content-contact__tel .second-number {
  padding-left: 5px;
}
.header-content-contact__tel p {
  margin: 0;
  display: inline;
  color: black;
}

.tel-red {
  color: #da501a;
}

.header-content__cart {
  order: 3;
  align-self: end;
  font-size: 13px;
  color: #727272;
  display: inline-grid;
  grid-template: 20px/25px 140px;
  align-items: center;
  cursor: default;
}
.header-content__cart img {
  padding-right: 5px;
}

.header-content-contact__email-icq {
  display: inline-grid;
  grid-template: 1fr/155px 105px;
  font-size: 13px;
  grid-column: 2/4;
  order: 4;
  margin-left: 52px;
  padding-top: 10px;
  cursor: default;
}
.header-content-contact__email-icq .email {
  display: inline-grid;
  align-items: center;
  grid-template: 20px/25px 1fr;
}
.header-content-contact__email-icq .email a {
  padding-right: 0;
}
.header-content-contact__email-icq .email a:hover {
  color: #da501a;
}
.header-content-contact__email-icq .icq {
  display: inline-grid;
  align-items: center;
  grid-template: 20px/25px 1fr;
  padding-left: 20px;
}
.header-content-contact__email-icq a {
  color: #4f4f4f;
}

.header-content__private-cabinet {
  order: 5;
  padding-top: 11px;
  padding-left: 2px;
  display: inline-grid;
  grid-template: 17px/24px 120px;
  align-items: center;
  font-size: 13px;
  cursor: default;
}
.header-content__private-cabinet a {
  color: #727272;
}
.header-content__private-cabinet a:hover {
  color: #da501a;
}

.aside-nav {
  background-color: rgba(255, 255, 255, 0.79);
}
.aside-nav .main-ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.aside-nav .main-ul .main-li {
  box-sizing: border-box;
  width: 210px;
  height: 32px;
  background-color: #e9ebee;
  margin: 0 0 2px 29px;
  padding: 5px 0 0 16px;
}
.aside-nav .main-ul .last {
  margin-bottom: 0;
}
.aside-nav .main-ul .main-li:active {
  background-color: #e26b34;
}
.aside-nav .main-ul .main-li:active .main-a {
  color: #ffffff;
  border: none;
}
.aside-nav .main-ul .main-a {
  color: #4f4f4f;
  font-size: 14px;
  text-decoration: none;
  border-bottom: 1px solid #4f4f4f;
}
.aside-nav .main-ul .main-li:hover {
  cursor: pointer;
}
.aside-nav .main-ul .main-li:hover a {
  color: #ec6c39;
  border-bottom: #ec6c39 1px solid;
}
.aside-nav .main-ul #helicopter {
  background-color: #ed6d3b;
}
.aside-nav .main-ul #helicopter a {
  color: white;
  border: none;
}
.aside-nav .main-ul #helicopter a:hover {
  color: white;
}
.aside-nav .main-ul .inner-ul {
  margin: 0 0 0 45px;
  padding: 5px 0 17px 0;
  list-style: none;
}
.aside-nav .main-ul .inner-li {
  color: #8c8c8c;
  padding-top: 3px;
}
.aside-nav .main-ul .inner-a {
  font-size: 13px;
  color: #8c8c8c;
  text-decoration: none;
  border-bottom: 1px solid #8c8c8c;
}
.aside-nav .main-ul .inner-li:hover {
  color: #da501a;
  border-bottom-color: #da501a;
  cursor: pointer;
}
.aside-nav .main-ul .inner-li:hover .inner-a {
  color: #da501a;
  border-bottom-color: #da501a;
}

.aside-articles-banners__wrapper {
  width: 261px;
  background-color: #f6f6f6;
}

.aside-articles {
  width: 197px;
  margin: 0;
  padding-top: 30px;
  padding-left: 30px;
}
.aside-articles .date {
  font-size: 12px;
  color: #898989;
  margin: 0;
}
.aside-articles a {
  font-size: 14px;
  color: #4f4f4f;
  text-decoration: none;
  border-bottom: solid 1px #4f4f4f;
}
.aside-articles p {
  font-size: 13px;
  color: #7d7d7d;
  margin: 5px 0 18px 0;
  word-wrap: break-word;
  word-spacing: -1px;
  cursor: default;
  user-select: none;
}

.submit {
  margin: 40px 0 30px 0;
  padding-right: 40px;
  width: 210px;
  height: 48px;
  background: #ec6c39 url("/img/content-img/pencil.png") no-repeat scroll 88% 50%;
  font-size: 20px;
  color: #ffffff;
  border: none;
  border-radius: 2px;
}

.submit:active {
  background-color: rgb(183, 218, 26);
  color: #555454;
}

.submit:hover {
  cursor: pointer;
}

.aside-banner__top,
.aside-banner__bottom {
  width: 210px;
  height: 245px;
  background-color: #bcbcbd;
  margin: 0 0 29px 29px;
}

.aside-banner__bottom {
  margin-bottom: 0;
}

.main-content__breadcrumbs {
  background-color: rgb(248, 248, 250);
}

.breadcrumbs {
  display: grid;
  grid-template: 15px/68px 30px 60px;
  margin: 0;
  padding: 0;
}
.breadcrumbs li {
  list-style: none;
}
.breadcrumbs .link-main-page {
  font-size: 14px;
  color: #e46c33;
  text-decoration: none;
  border-bottom: 1px solid #e46c33;
}
.breadcrumbs .link-catalog-page {
  font-size: 14px;
  color: #434243;
}
.breadcrumbs .link-catalog-page:hover {
  cursor: default;
  user-select: none;
}

.arrow-right {
  margin: 0;
  color: #434243;
  user-select: none;
}

.main {
  margin: 0 37px 0 28px;
  grid-area: main;
  display: grid;
  grid-template: 1454px/261px 698px;
}

.main-content {
  background-color: #fafafb;
}

.gasket {
  border-top: 7px solid rgb(231, 233, 237);
  border-left: 28px solid rgb(231, 233, 237);
  border-right: 37px solid rgb(231, 233, 237);
  background-color: rgba(255, 255, 255, 0.79);
}

.wrapper-filter-by-tags {
  height: 67px;
  width: 698px;
  padding-top: 14px;
  background-color: #fafafb;
}

.main-content__filter-by-tags {
  background-color: #4d4d4e;
  width: 656px;
}

.filter-by-tags {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template: 33.5px 33.5px/90px 93px 79px 85px 143px 93px;
}
.filter-by-tags #show {
  margin-left: 13px;
  color: #ffffff;
  align-self: center;
  cursor: default;
  user-select: none;
}
.filter-by-tags .tags {
  color: whitesmoke;
  font-size: 13px;
  height: 21px;
  background-image: linear-gradient(to top, #d8d8d8, #fff);
  margin: 8px 0 0 5px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 3px;
}
.filter-by-tags a {
  text-decoration: none;
  color: #4d4d4e;
  font-size: 13px;
}
.filter-by-tags a:hover {
  color: rgb(226, 107, 52);
}
.filter-by-tags .instrument {
  grid-column: 2/4;
  margin-top: 3px;
  margin-bottom: 10px;
  width: 154px;
}
.filter-by-tags .screws {
  grid-column: 4/6;
  margin: 3px 0 10px -8px;
  width: 126px;
}

.plus-tag a {
  font-size: 24px;
  color: whitesmoke;
  margin-left: -100px;
}

.main-content__sort-by-price-date {
  width: 300px;
  height: 40px;
  background-color: #fafafb;
}

.sort-by-price {
  font-size: 13px;
  display: grid;
  grid-template: 19px/110px 122px 100px;
  list-style: none;
  padding-left: 8px;
}
.sort-by-price a {
  text-decoration: none;
  color: #5c5c5c;
}
.sort-by-price a:hover {
  color: #3263cd;
}

.sort-by {
  align-self: center;
}

.date-added {
  background-color: #a6a6a6;
  padding-left: 5px;
  padding-top: 1px;
  border: none;
  border-radius: 1px;
}

.price-h-l {
  padding-left: 8px;
  color: #5c5c5c;
}
.price-h-l a {
  border-bottom: 1px solid #5c5c5c;
}

.main-content__products {
  width: 670px;
  height: 1021px;
  background-color: #ffffff;
}

.products-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template: repeat(4, 240px)/repeat(3, 218px);
}
.products-list a {
  text-decoration: none;
}

.product {
  padding: 25px 0 0 10px;
  width: 223px;
  height: 223px;
  position: relative;
}
.product .price {
  position: absolute;
  top: 144px;
  left: 110px;
  width: 106px;
  height: 30px;
  background-color: #4d4d4e;
  color: #f3f2f0;
  font-size: 24px;
  border: none;
  border-radius: 2px;
  text-align: center;
  padding-top: 4px;
}
.product .currency {
  font-size: 18px;
}
.product img {
  margin-bottom: 12px;
}
.product a {
  color: #e27d55;
  text-align: center;
}
.product a:hover {
  color: yellowgreen;
}

.title {
  text-align: center;
  border-bottom: 1px solid #e27d55;
  font-size: 14px;
}

.cyclone {
  width: 148px;
  margin: 10px auto 3px;
}

.title-bottom {
  width: 195px;
  margin: 0 auto;
}

.cord {
  width: 160px;
  margin: 0 auto 3px;
}

.pt-19 {
  width: 185px;
  margin: 0 auto 3px;
}

.arf {
  width: 35px;
  margin: 0 auto;
}

.electric {
  width: 100px;
  margin: 0 auto 3px;
}

.hm60b {
  width: 160px;
  margin: 0 auto;
}

.pagination {
  padding: 24px 0 0 0;
  margin: 0;
  list-style: none;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template: 20px/100px repeat(7, 20px) 260px 20px 150px;
}
.pagination li {
  color: #4f4f4f;
  font-size: 13px;
}
.pagination a {
  color: #4f4f4f;
  font-size: 13px;
}
.pagination a:hover {
  color: #fb9051;
}

.page-two {
  padding: 3px 7px;
  border: none;
  border-radius: 1.5px;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.22);
  background-image: linear-gradient(to top, #ed713b, #ff9555);
}
.page-two a,
.page-two a:hover {
  color: #ffffff;
  text-decoration: none;
}

.pages,
.dots,
#page-arrow-left,
#page-arrow-right,
#line {
  cursor: default;
  user-select: none;
}

#page-arrow-left {
  padding-left: 105px;
}

.next-page,
.previous-page {
  text-decoration: none;
}

.next-page:hover,
.previous-page:hover {
  color: #e46c33;
}

.previous-page-container,
.next-page-container {
  border-bottom: 1px solid #4f4f4f;
}

.previous-page-container:hover,
.next-page-container:hover {
  border-bottom: 1px solid #fb9051;
}

.main-content__about-company {
  color: #4f4f4f;
}
.main-content__about-company h2 {
  font-size: 24px;
  margin: 73px 0 17px 0;
  cursor: default;
}
.main-content__about-company .first-p {
  word-spacing: -0.1px;
}
.main-content__about-company p {
  width: 662px;
  font-size: 13px;
  margin: 0;
  line-height: 1.5;
  word-spacing: -1px;
  cursor: default;
}
.main-content__about-company p a {
  color: #e27d55;
  text-decoration: none;
  border-bottom: 1px solid #e27d55;
  margin-left: 10px;
}

.gasket_bottom {
  margin-left: 28px;
  width: 959px;
  box-sizing: border-box;
  border-bottom: 10px solid #e5e7ec;
  background-color: #f6f6f6;
}

.footer {
  margin: 0 37px 0 28px;
  grid-area: footer;
  display: grid;
  grid-template: 43px 1fr/959px;
}

.footer-nav-container {
  padding: 10px 0 0 29px;
  background-color: #f6f6f6;
}

.footer-nav {
  display: inline-grid;
  grid-template: 20px/90px 70px 80px 120px 90px 80px;
  align-items: center;
  padding: 0;
  margin: 0;
}
.footer-nav li {
  list-style: none;
}
.footer-nav a {
  text-decoration: none;
  font-size: 13px;
  color: #747474;
  border-bottom: 1px solid #747474;
}

.footer-contacts {
  margin-left: 29px;
  margin-top: 16px;
  margin-bottom: 40px;
  font-size: 13px;
  color: #747474;
  display: grid;
  grid-template: 73px/310px 100px 308px 192px;
}
.footer-contacts p {
  line-height: 1.5;
  margin: 0;
  padding-right: 23px;
  cursor: default;
}
.footer-contacts p a {
  color: #747474;
}
.footer-contacts span {
  cursor: default;
}
.footer-contacts span a {
  color: #747474;
}
/*# sourceMappingURL=catalog.css.map */