@import "normalize.css";
@import "reset-styles.css";
@font-face {
  font-family: ArialMT;
  src: url("/fonts/arial.ttf") format("ttf");
}
body {
  display: grid;
  margin: 0;
  grid-template-areas: "wrapper";
  font-family: "ArialMT", sans-serif;
  font-weight: normal;
}

.wrapper {
  background-color: rgb(231, 233, 237);
  border: 1px solid grey;
  grid-area: wrapper;
  min-height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template: minmax(100px, auto) 34px 1fr 57px minmax(70px, auto)/1024px;
  grid-template-areas: "header" "gasket" "main" "gasket-bottom" "footer";
}

.header {
  background-color: white;
  grid-area: header;
  margin: 0 37px 0 28px;
  display: grid;
  grid-template: 48px 126px/959px;
}
.header .header-nav {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template: 48px/610px 229px;
  background-color: #4f4f4f;
  color: #e2e2e2;
}
.header .header-nav ul {
  display: grid;
  justify-content: space-between;
  grid-template: 15px/78px 53px 65px 103px 66px 65px;
  list-style: none;
  height: 22px;
  padding: 0;
  margin: 0 0 0 31px;
}
.header .header-nav ul li a {
  border-bottom: 1px solid #e2e2e2;
  font-size: 14px;
  color: #e2e2e2;
  text-decoration: none;
}
.header .header-nav ul li a:hover {
  color: #ec6c39;
}
.header .header-nav input {
  height: 25px;
  margin-right: 30px;
  padding: 0 7px 0 16px;
  background: white url("/img/content-img/search-non-active.png") no-repeat scroll 96% 50%;
  border: none;
  border-radius: 1px;
}

.header-content {
  display: grid;
  grid-template: 1fr 1fr/repeat(4, 1fr);
}

.header-content__logo {
  grid-row: 1/3;
  order: 1;
  margin: 9px 0 0 30px;
}

.header-content-contact__tel {
  grid-column: 2/4;
  order: 2;
  align-self: end;
  margin-left: 52px;
  padding-top: 43px;
  font-size: 20px;
  display: inline-grid;
  grid-template: 1fr/14px 160px 155px;
  align-items: center;
  cursor: default;
}
.header-content-contact__tel .first-number {
  padding-left: 10px;
}
.header-content-contact__tel .second-number {
  padding-left: 5px;
}
.header-content-contact__tel p {
  margin: 0;
  display: inline;
  color: black;
}

.tel-red {
  color: #da501a;
}

.header-content__cart {
  order: 3;
  align-self: end;
  font-size: 13px;
  color: #727272;
  display: inline-grid;
  grid-template: 20px/25px 140px;
  align-items: center;
  cursor: default;
}
.header-content__cart img {
  padding-right: 5px;
}

.header-content-contact__email-icq {
  display: inline-grid;
  grid-template: 1fr/155px 105px;
  font-size: 13px;
  grid-column: 2/4;
  order: 4;
  margin-left: 52px;
  padding-top: 10px;
  cursor: default;
}
.header-content-contact__email-icq .email {
  display: inline-grid;
  align-items: center;
  grid-template: 20px/25px 1fr;
}
.header-content-contact__email-icq .email a {
  padding-right: 0;
}
.header-content-contact__email-icq .email a:hover {
  color: #da501a;
}
.header-content-contact__email-icq .icq {
  display: inline-grid;
  align-items: center;
  grid-template: 20px/25px 1fr;
  padding-left: 20px;
}
.header-content-contact__email-icq a {
  color: #4f4f4f;
}

.header-content__private-cabinet {
  order: 5;
  padding-top: 11px;
  padding-left: 2px;
  display: inline-grid;
  grid-template: 17px/24px 120px;
  align-items: center;
  font-size: 13px;
  cursor: default;
}
.header-content__private-cabinet a {
  color: #727272;
}
.header-content__private-cabinet a:hover {
  color: #da501a;
}

.aside-nav {
  background-color: rgba(255, 255, 255, 0.79);
}
.aside-nav .main-ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.aside-nav .main-ul .main-li {
  box-sizing: border-box;
  width: 210px;
  height: 32px;
  background-color: #e9ebee;
  margin: 0 0 2px 29px;
  padding: 5px 0 0 16px;
}
.aside-nav .main-ul .last {
  margin-bottom: 0;
}
.aside-nav .main-ul .main-li:active {
  background-color: #e26b34;
}
.aside-nav .main-ul .main-li:active .main-a {
  color: #ffffff;
  border: none;
}
.aside-nav .main-ul .main-a {
  color: #4f4f4f;
  font-size: 14px;
  text-decoration: none;
  border-bottom: 1px solid #4f4f4f;
}
.aside-nav .main-ul .main-li:hover {
  cursor: pointer;
}
.aside-nav .main-ul .main-li:hover a {
  color: #ec6c39;
  border-bottom: #ec6c39 1px solid;
}
.aside-nav .main-ul #helicopter {
  background-color: #ed6d3b;
}
.aside-nav .main-ul #helicopter a {
  color: white;
  border: none;
}
.aside-nav .main-ul #helicopter a:hover {
  color: white;
}
.aside-nav .main-ul .inner-ul {
  margin: 0 0 0 45px;
  padding: 5px 0 17px 0;
  list-style: none;
}
.aside-nav .main-ul .inner-li {
  color: #8c8c8c;
  padding-top: 3px;
}
.aside-nav .main-ul .inner-a {
  font-size: 13px;
  color: #8c8c8c;
  text-decoration: none;
  border-bottom: 1px solid #8c8c8c;
}
.aside-nav .main-ul .inner-li:hover {
  color: #da501a;
  border-bottom-color: #da501a;
  cursor: pointer;
}
.aside-nav .main-ul .inner-li:hover .inner-a {
  color: #da501a;
  border-bottom-color: #da501a;
}

.aside-articles-banners__wrapper {
  width: 261px;
  background-color: #f6f6f6;
}

.aside-articles {
  width: 197px;
  margin: 0;
  padding-top: 30px;
  padding-left: 30px;
}
.aside-articles .date {
  font-size: 12px;
  color: #898989;
  margin: 0;
}
.aside-articles a {
  font-size: 14px;
  color: #4f4f4f;
  text-decoration: none;
  border-bottom: solid 1px #4f4f4f;
}
.aside-articles p {
  font-size: 13px;
  color: #7d7d7d;
  margin: 5px 0 18px 0;
  word-wrap: break-word;
  word-spacing: -1px;
  cursor: default;
  user-select: none;
}

.submit {
  margin: 40px 0 30px 0;
  padding-right: 40px;
  width: 210px;
  height: 48px;
  background: #ec6c39 url("/img/content-img/pencil.png") no-repeat scroll 88% 50%;
  font-size: 20px;
  color: #ffffff;
  border: none;
  border-radius: 2px;
}

.submit:active {
  background-color: rgb(183, 218, 26);
  color: #555454;
}

.submit:hover {
  cursor: pointer;
}

.aside-banner__top,
.aside-banner__bottom {
  width: 210px;
  height: 245px;
  background-color: #bcbcbd;
  margin: 0 0 29px 29px;
}

.aside-banner__bottom {
  margin-bottom: 0;
}

.main {
  margin: 0 37px 0 28px;
  background-color: #fafafb;
  grid-area: main;
  display: grid;
  grid-template: 1454px/261px 698px;
}

.main-content {
  background-color: #fafafb;
}

.helicopter-beacon {
  display: grid;
  grid-template: 65px 1fr 99px/44px 284px 317px 53px;
}
.helicopter-beacon .title-helicopter {
  height: 52px;
}
.helicopter-beacon .title-helicopter h2 {
  font-size: 24px;
  color: #010101;
  cursor: default;
}
.helicopter-beacon .title-helicopter h2:first-child {
  padding-bottom: 5px;
}
.helicopter-beacon .arrow-left-big {
  grid-row: 1/4;
  grid-column: 1/2;
  padding-top: 88px;
}
.helicopter-beacon .big-helicopter_img {
  grid-row: 1/4;
  grid-column: 3/4;
}
.helicopter-beacon .arrow-right-big {
  grid-row: 1/4;
  grid-column: 4/5;
  padding-top: 88px;
}

.specifications {
  height: 100px;
  width: 266px;
  padding: 12px 0;
  border-top: 1px solid #010101;
  border-bottom: 1px solid #010101;
  box-sizing: border-box;
  font-size: 13px;
  color: #4f4f4f;
  display: grid;
  grid-template: repeat(4, 20px)/122px 131px;
}
.specifications span {
  padding-left: 9px;
  padding-top: 3px;
  cursor: default;
}
.specifications .type, .specifications .name, .specifications .motor, .specifications .motor-type {
  background-color: #f1f0ef;
}
.specifications .name, .specifications .plastic, .specifications .motor-type, .specifications .time {
  padding-left: 12px;
}

.price-cart {
  margin-top: 17px;
  position: relative;
  width: 294px;
  display: grid;
  grid-template: 30px/57px 71px 1fr 1fr;
  align-items: center;
}
.price-cart .price__ {
  color: #717171;
  font-size: 18px;
}
.price-cart .price___ {
  font-size: 22px;
  color: #010101;
}
.price-cart .price____ {
  padding-left: 5px;
}
.price-cart .currency_ {
  color: #4f4f4f;
  font-size: 14px;
}
.price-cart input {
  width: 102px;
  height: 30px;
  background-color: #4d4d4e;
  border: none;
  border-radius: 2px;
  color: #ffffff;
  font-size: 13px;
  padding-right: 20px;
  margin-left: 10px;
}
.price-cart input:active {
  background-color: #e27d55;
}
.price-cart input:hover {
  cursor: pointer;
}

.triangular {
  position: absolute;
  top: 9px;
  right: 7px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-right-width: 0;
  border-left-color: #fdfdfe;
}

.gasket {
  border-top: 7px solid rgb(231, 233, 237);
  border-left: 28px solid rgb(231, 233, 237);
  border-right: 37px solid rgb(231, 233, 237);
  background-color: rgba(255, 255, 255, 0.79);
}

.sale {
  height: 275px;
  width: 670px;
  background-color: #fdfdfe;
  display: grid;
  grid-template: 25px 1fr/1fr 1fr 1fr;
}
.sale .sale-link {
  font-size: 16px;
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid;
  grid-row: 1;
  grid-column: 1/4;
  width: 92px;
  height: 16px;
  align-self: end;
}

.product {
  width: 198px;
  height: 189px;
  position: relative;
}
.product .title-product {
  height: 34px;
  width: 185px;
  color: #e27d55;
  text-decoration: none;
  font-size: 14px;
}
.product .title-product:hover {
  color: yellowgreen;
}
.product .cyclone {
  width: 150px;
  margin: 0 auto;
  padding-top: 13px;
}
.product .title-bottom {
  padding-top: 5px;
}
.product .cyclone, .product .title-bottom {
  border-bottom: 1px solid;
}

.price-wrapper {
  width: 111px;
  height: 37px;
  background-color: #4f4f4f;
  box-sizing: border-box;
  border: 1px solid #ffffff;
  border-radius: 2px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.price {
  width: 102px;
  height: 21px;
  color: #f3f2f0;
  padding-bottom: 3px;
}

.price__currency {
  font-size: 18px;
}

.price-wrapper {
  position: absolute;
  top: 117px;
  right: 0;
}

.product {
  width: 198px;
  height: 189px;
  position: relative;
}
.product .title-product {
  height: 34px;
  width: 185px;
  color: #e27d55;
  text-decoration: none;
  font-size: 14px;
}
.product .title-product:hover {
  color: yellowgreen;
}
.product .cyclone {
  width: 150px;
  margin: 0 auto;
  padding-top: 13px;
}
.product .title-bottom {
  padding-top: 5px;
}
.product .cyclone, .product .title-bottom {
  border-bottom: 1px solid;
}

.price-wrapper {
  width: 111px;
  height: 37px;
  background-color: #4f4f4f;
  box-sizing: border-box;
  border: 1px solid #ffffff;
  border-radius: 2px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.price {
  width: 102px;
  height: 21px;
  color: #f3f2f0;
  padding-bottom: 3px;
}

.price__currency {
  font-size: 18px;
}

.price-wrapper {
  position: absolute;
  top: 117px;
  right: 0;
}

.plane {
  text-align: center;
}
.plane .cord, .plane .pt-19, .plane .arf {
  border-bottom: 1px solid;
  margin: 0 auto;
  padding-top: 4px;
}
.plane .cord {
  width: 160px;
}
.plane .pt-19 {
  width: 180px;
}
.plane .arf {
  width: 30px;
}

.product {
  width: 198px;
  height: 189px;
  position: relative;
}
.product .title-product {
  height: 34px;
  width: 185px;
  color: #e27d55;
  text-decoration: none;
  font-size: 14px;
}
.product .title-product:hover {
  color: yellowgreen;
}
.product .cyclone {
  width: 150px;
  margin: 0 auto;
  padding-top: 13px;
}
.product .title-bottom {
  padding-top: 5px;
}
.product .cyclone, .product .title-bottom {
  border-bottom: 1px solid;
}

.price-wrapper {
  width: 111px;
  height: 37px;
  background-color: #4f4f4f;
  box-sizing: border-box;
  border: 1px solid #ffffff;
  border-radius: 2px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.price {
  width: 102px;
  height: 21px;
  color: #f3f2f0;
  padding-bottom: 3px;
}

.price__currency {
  font-size: 18px;
}

.price-wrapper {
  position: absolute;
  top: 117px;
  right: 0;
}

.helicopter .electric {
  padding-top: 24px;
  border-bottom: 1px solid;
  width: 100px;
  margin: 0 auto;
}
.helicopter .hm60b {
  padding-top: 4px;
  border-bottom: 1px solid;
  width: 160px;
  margin: 0 auto;
}

.main-content__about-company {
  color: #4f4f4f;
}
.main-content__about-company h2 {
  font-size: 24px;
  margin: 73px 0 17px 0;
  cursor: default;
}
.main-content__about-company .first-p {
  word-spacing: -0.1px;
}
.main-content__about-company p {
  width: 662px;
  font-size: 13px;
  margin: 0;
  line-height: 1.5;
  word-spacing: -1px;
  cursor: default;
}
.main-content__about-company p a {
  color: #e27d55;
  text-decoration: none;
  border-bottom: 1px solid #e27d55;
  margin-left: 10px;
}

.gasket_bottom {
  margin-left: 28px;
  width: 959px;
  box-sizing: border-box;
  border-bottom: 10px solid #e5e7ec;
  background-color: #f6f6f6;
}

.footer {
  margin: 0 37px 0 28px;
  grid-area: footer;
  display: grid;
  grid-template: 43px 1fr/959px;
}

.footer-nav-container {
  padding: 10px 0 0 29px;
  background-color: #f6f6f6;
}

.footer-nav {
  display: inline-grid;
  grid-template: 20px/90px 70px 80px 120px 90px 80px;
  align-items: center;
  padding: 0;
  margin: 0;
}
.footer-nav li {
  list-style: none;
}
.footer-nav a {
  text-decoration: none;
  font-size: 13px;
  color: #747474;
  border-bottom: 1px solid #747474;
}

.footer-contacts {
  margin-left: 29px;
  margin-top: 16px;
  margin-bottom: 121px;
  font-size: 13px;
  color: #747474;
  display: grid;
  grid-template: 73px/310px 100px 308px 192px;
}
.footer-contacts p {
  line-height: 1.5;
  margin: 0;
  padding-right: 23px;
  cursor: default;
}
.footer-contacts p a {
  color: #747474;
}
.footer-contacts span {
  cursor: default;
}
.footer-contacts span a {
  color: #747474;
}
/*# sourceMappingURL=main.css.map */