@import "normalize.css";
@import "reset-styles.css";

body{
  display: grid;
  margin: 0;
  grid-template-areas: "wrapper";
  font-family: Arial sans-serif;
}
.wrapper{
  background-color: rgba(216, 220, 224, 0.56);
  grid-area: wrapper;
  min-height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template: minmax(100px, auto) 1fr minmax(70px, auto) / 1024px;
  grid-template-areas:
  "header"
  "main"
  "footer";
}
@import "header";

.main{
  margin: 0 37px 0 28px;
  grid-area: main;
  display: grid;
  grid-template: 1fr 1fr / 959px;
  background-color: #3c3f41;
}
.footer{
  margin: 0 37px 0 28px;
  grid-area: footer;
  display: grid;
  grid-template: 1fr 1fr / 959px;
}
.footer-nav{
  background-color: cadetblue;
}
.footer-contacts{
  background-color: cadetblue;
}