body{
  background-color: cornflowerblue;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
.wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 3fr 2fr;

  div{
    border: dotted 2px grey;
    padding: 20px;
  }
}
h2{
  color: #3c3f41;
  text-align: start;
}


.grid-wrapper{
  display: grid;

  //grid-template-columns: 150px 1fr;
  //grid-template-rows: 100px 1fr;
  //grid-template-areas: "header header"
  //                     "side content"
  //;

  grid-template:
          [start] "header header" 150px
          [row2] "side content" 1fr [row-end] / 150px 1fr;
}
.grid-header,
.grid-side,
.grid-content{
  padding: 10px;
  color: #3c3f41;
  height: 100px;
  border: 2px dashed;
  text-align: start;
  text-align: center;
  }
.grid-header{
  grid-area: header;
}
.grid-side{
  grid-area: side;
}
.grid-content{
  grid-area: content;
}

// Выравнивание элементов сетки

.items{
  display: grid;
  padding: 20px;
  margin: 10px;
  grid-template-rows: [start] 1fr [row2] 1fr [row-end];
  grid-template-columns: [start] 1fr [col2] 1fr [col3] 1fr [col-end];

  // Промежутки между элементами сетки (row-gap, column-gap, gap)
  row-gap: 20px;
  column-gap: 20px;
  //gap: 30px; сразу для всего.
}
.item{
  text-align: center;
  padding: 25px;
  border: 2px dashed black;
}

.grid__item_1{
  color: chartreuse;
}
.grid__item_2{
}
.grid__item_3{
}
.grid__item_4{
}
.grid__item_5{
}
.grid__item_6{
}


