@import "normalize.css";
@import "reset-styles.css";
@font-face {
  font-family: ArialMT;
  src: url("/fonts/arial.ttf")
  format("ttf");
}

body{
  display: grid;
  margin: 0;
  grid-template-areas: "wrapper";
  font-family: "ArialMT", sans-serif;
  font-weight: normal;
}
.wrapper{
  background-color: rgb(231, 233, 237);
  grid-area: wrapper;
  min-height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template: minmax(100px, auto) 34px 1fr 57px minmax(70px, auto) / 1024px;
  grid-template-areas:
  "header"
  "gasket"
  "main"
  "gasket-bottom"
  "footer";
}
@import "header";
@import "catalog-aside";
@import "breadcrumbs";
.main{
  margin: 0 37px 0 28px;
  grid-area: main;
  display: grid;
  grid-template: 1454px / 261px 698px;
}
.main-content{
  background-color: #fafafb;
}
.gasket{
  border-top: 7px solid rgb(231, 233, 237);
  border-left: 28px solid rgb(231, 233, 237);
  border-right: 37px solid rgb(231, 233, 237);
  background-color: rgba(255, 255, 255, 0.79);
}

@import "sort-by-tags";
@import "sort-by-price-date";

//PRODUCT_LIST
.main-content__products{
  width: 670px;
  height: 1021px;
  background-color: #ffffff;
}
.products-list{
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template: repeat(4, 240px) / repeat(3, 218px);
  a{
    text-decoration: none;
  }
}
.product{
  padding: 25px 0 0 10px;
  width: 223px;
  height: 223px;
  position: relative;
  .price {
    position: absolute;
    top: 144px;
    left: 110px;
    width: 106px;
    height: 30px;
    background-color: #4d4d4e;
    color: #f3f2f0;
    font-size: 24px;
    border: none;
    border-radius: 2px;
    text-align: center;
    padding-top: 4px;
  }
  .currency{
    font-size: 18px;
  }
  img{
    margin-bottom: 12px;
  }
  a{
    color: #e27d55;
    text-align: center;
  }
  a:hover{
    color: yellowgreen;
  }
}

//car
.title{
  text-align: center;
  border-bottom: 1px solid #e27d55;
  font-size: 14px;
}
.cyclone{
  width: 148px;
  margin: 10px auto 3px;
}
.title-bottom{
  width: 195px;
  margin: 0 auto;
}
//airplane
.cord{
  width: 160px;
  margin: 0 auto 3px;
}
.pt-19{
  width: 185px;
  margin: 0 auto 3px;
}
.arf{
  width: 35px;
  margin: 0 auto
}
//helicopter
.electric{
  width: 100px;
  margin: 0 auto 3px;
}
.hm60b{
  width: 160px;
  margin: 0 auto;
}

@import "pagination";

.main-content__about-company{
  color: #4f4f4f;
  h2{
    font-size: 24px;
    margin: 73px 0 17px 0;
    cursor: default;
  }
  .first-p{
    word-spacing: -0.1px;
  }
  p{
    width: 662px;
    font-size: 13px;
    margin: 0;
    line-height: 1.5;
    word-spacing: -1px;
    cursor: default;
    a{
      color: #e27d55;
      text-decoration: none;
      border-bottom: 1px solid #e27d55;
      margin-left: 10px;
    }
  }
}

.gasket_bottom{
  margin-left: 28px;
  width: 959px;
  box-sizing: border-box;
  border-bottom: 10px solid #d6d6d6;
  background-color: #f6f6f6;
}
.footer{
  margin: 0 37px 0 28px;
  grid-area: footer;
  display: grid;
  grid-template: 1fr 1fr / 959px;
}
.footer-nav{
  background-color: cadetblue;
}
.footer-contacts{
  background-color: cadetblue;
}

