@import "normalize.css";
@import "reset-styles.css";
@import "breadcrumbs";

@font-face {
  font-family: ArialMT;
  src: url("/fonts/arial.ttf")
  format("ttf");
}

body{
  display: grid;
  margin: 0;
  grid-template-areas: "wrapper";
  font-family: "ArialMT", sans-serif;
  font-weight: normal;
}
.wrapper{
  background-color: rgb(231, 233, 237);
  border: 1px solid grey;
  grid-area: wrapper;
  min-height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template: minmax(100px, auto) 34px 1fr 57px minmax(70px, auto) / 1024px;
  grid-template-areas:
  "header"
  "gasket"
  "main"
  "gasket-bottom"
  "footer";
}
@import "header";
@import "catalog-aside";

.main{
  margin: 0 37px 0 28px;
  background-color: #fafafb;
  grid-area: main;
  display: grid;
  grid-template: 1680px / 261px 698px;
}
.main-content{
  background-color: #fafafb;
}
.gasket{
  border-top: 7px solid rgb(231, 233, 237);
  border-left: 28px solid rgb(231, 233, 237);
  border-right: 37px solid rgb(231, 233, 237);
  background-color: rgba(255, 255, 255, 0.79);
}
.gasket_bottom{
  margin-left: 28px;
  width: 959px;
  box-sizing: border-box;
  border-bottom: 10px solid #e5e7ec;
  background-color: #f6f6f6;
}
@import "footer";
