@import "normalize.css";
@import "reset-styles.css";

@font-face {
  font-family: ArialMT;
  src: url("/fonts/arial.ttf")
  format("ttf");
}

body{
  display: grid;
  margin: 0;
  grid-template-areas: "wrapper";
  font-family: "ArialMT", sans-serif;
  font-weight: normal;
}
.wrapper{
  background-color: rgb(231, 233, 237);
  border: 1px solid grey;
  grid-area: wrapper;
  min-height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template: minmax(100px, auto) 34px 1fr 57px minmax(70px, auto) / 1024px;
  grid-template-areas:
  "header"
  "gasket"
  "main"
  "gasket-bottom"
  "footer";
}
@import "header";
@import "catalog-aside";

.main{
  margin: 0 37px 0 28px;
  background-color: #fafafb;
  grid-area: main;
  display: grid;
  grid-template: 1454px / 261px 698px;
}
.main-content{
  background-color: #fafafb;
}

//HELICOPTER-BEACON

.helicopter-beacon{
  display: grid;
  grid-template: 65px 1fr 99px / 44px 284px 317px 53px;
  .title-helicopter{
    height: 52px;
    h2{
      font-size: 24px;
      color: #010101;
      cursor: default;
    }
    h2:first-child{
      padding-bottom: 5px;
    }
  }
  .arrow-left-big{
    grid-row: 1 / 4;
    grid-column: 1 / 2;
    padding-top: 88px;
  }
  .big-helicopter_img{
    grid-row: 1 / 4;
    grid-column: 3 / 4;
  }
  .arrow-right-big{
    grid-row: 1 / 4;
    grid-column: 4 / 5;
    padding-top: 88px;
  }
}
.specifications{
  height: 100px;
  width: 266px;
  padding: 12px 0;
  border-top: 1px solid #010101;
  border-bottom: 1px solid #010101;
  box-sizing: border-box;
  font-size: 13px;
  color: #4f4f4f;
  display: grid;
  grid-template: repeat(4, 20px) / 122px 131px;
  span{
    padding-left: 9px;
    padding-top: 3px;
    cursor: default;
  }
  .type,.name,.motor,.motor-type{
    background-color: #f1f0ef;
  }
  .name,.plastic,.motor-type,.time{
    padding-left: 12px;
  }
}
.price-cart{
  margin-top: 17px;
  position: relative;
  width: 294px;
  display: grid;
  grid-template: 30px / 57px 71px 1fr 1fr;
  align-items: center;
  .price__{
    color: #717171;
    font-size: 18px;
  }
  .price___{
    font-size: 22px;
    color: #010101;
  }
  .price____{
    padding-left: 5px;
  }
  .currency_{
    color: #4f4f4f;
    font-size: 14px;
  }
  input{
    width: 102px;
    height: 30px;
    background-color: #4d4d4e;
    border:none;
    border-radius: 2px;
    color: #ffffff;
    font-size: 13px;
    padding-right: 20px;
    margin-left: 10px;
  }
  input:active{
    background-color: #e27d55;
  }
  input:hover{
    cursor: pointer;
  }
}
.triangular{
  position: absolute;
  top: 9px;
  right: 7px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-right-width: 0;
  border-left-color: #fdfdfe;
}
.gasket{
  border-top: 7px solid rgb(231, 233, 237);
  border-left: 28px solid rgb(231, 233, 237);
  border-right: 37px solid rgb(231, 233, 237);
  background-color: rgba(255, 255, 255, 0.79);
}


//PRODUCT_LISTS
//SALE
.sale{
  height: 275px;
  width: 670px;
  background-color: #fdfdfe;
  display: grid;
  grid-template: 25px 1fr / 1fr 1fr 1fr;
  .sale-link{
    font-size: 16px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid;
    grid-row: 1;
    grid-column: 1/4;
    width: 92px;
    height: 16px;
    align-self: end;
  }
}
@import "product-car";
@import "product-plane";
@import "product-helicopter";








//About company article
.main-content__about-company{
  color: #4f4f4f;
  h2{
    font-size: 24px;
    margin: 73px 0 17px 0;
    cursor: default;
  }
  .first-p{
    word-spacing: -0.1px;
  }
  p{
    width: 662px;
    font-size: 13px;
    margin: 0;
    line-height: 1.5;
    word-spacing: -1px;
    cursor: default;
    a{
      color: #e27d55;
      text-decoration: none;
      border-bottom: 1px solid #e27d55;
      margin-left: 10px;
    }
  }
}

.gasket_bottom{
  margin-left: 28px;
  width: 959px;
  box-sizing: border-box;
  border-bottom: 10px solid #e5e7ec;
  background-color: #f6f6f6;
}

@import "footer";
