@import "normalize.css";
@import "reset-styles.css";

@font-face {
  font-family: ArialMT;
  src: url("/fonts/arial.ttf")
  format("ttf");
}

body{
  display: grid;
  margin: 0;
  grid-template-areas: "wrapper";
  font-family: "ArialMT", sans-serif;
  font-weight: normal;
}
.wrapper{
  background-color: rgb(231, 233, 237);
  border: 1px solid grey;
  grid-area: wrapper;
  min-height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template: minmax(100px, auto) 34px 1fr 57px minmax(70px, auto) / 1024px;
  grid-template-areas:
  "header"
  "gasket"
  "main"
  "gasket-bottom"
  "footer";
}
@import "header";
@import "catalog-aside";

.main{
  margin: 0 37px 0 28px;
  background-color: #fafafb;
  grid-area: main;
  display: grid;
  grid-template: 1680px / 261px 698px;
}
.main-content{
  background-color: #fafafb;
}

// Breadcrumbs start
.breadcrumbs{
  padding-top: 8px;
  width: 432px;
  height: 14px;
  display: grid;
  font-size: 14px;
  grid-template: 14px / 60px 22px 55px 22px 85px 23px 65px 23px 1fr;
}
.link-main-page,
.link-catalog-page,
.link-cars-page,
.link-fast-page{
  color: #e27d55;
}


//Kyosho Lazer ZX-5

.kyosho{
  margin-top: 26px;
  height: 371px;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr;
  grid-template-areas:
    "big-car   title"
    "big-car    spec"
    "big-car  button"
    "big-car  social"
    "car-det  links"

;
  .kyosho_big__wrapper{
    grid-area: big-car;
    width: 350px;
    height: 280px;
    background-color: #f3f2f0;
    box-sizing: border-box;
    border: 1px solid #f3f2f0;
    padding: 7px 9px 8px 10px;
  }
  .kyosho-small-images{
    grid-area: car-det;
    grid-row: 4 / 6;
    justify-self: center;
    margin-top: 44px;
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
  }
  .kyosho__title-color{
    grid-area: title;
    font-size: 24px;
    color: #2d2d2d;
    margin-left: 18px;
  }
  .kyosho_small__two__wrapper{
    margin-left: 5px;
  }
  .kyosho_small__three__wrapper{
    margin-left: 9px;
  }
  .kyosho_small__one__wrapper,
  .kyosho_small__two__wrapper,
  .kyosho_small__three__wrapper{
    width: 104px;
    height: 83px;
    box-sizing: border-box;
    background-color: #f3f2f0;
    border: 1px solid #ebebeb;
    padding: 8px 7px;
  }
  .kyosho-specification{
    grid-area: spec;
    height: 83px;
    width: 267px;
    font-size: 14px;
    color: #4f4f4f;
    margin-left: 18px;
    .model{
      display: inline-block;
      width: 120px;
      padding-bottom: 5px;
      padding-top: 9px;
    }
    .model-number{
      display: inline-block;
      width: 160px;
      padding-bottom: 5px;
    }
    .availability{
      display: inline-block;
      padding-bottom: 14px;
    }
    hr{
      height: 1px;
      margin: 0;
    }
  }
  @import "button-to-buy";
  button{
    grid-area: button;
    margin-bottom: 15px;
    margin-left: 18px;
    margin-top: 13px;
  }
  .kyosho__social-networks{
    grid-area: social;
    margin-left: 18px;
    display: grid;
    font-size: 13px;
    color: #adadad;
    grid-template:  10px 37px / 69px 200px;
    hr{
      grid-column: 1 / 3;
      width: 267px;
      margin: 0;
    }
    img{
      padding-left: 12px;
    }
  }
  ul{
    grid-area: links;
    margin-left: 18px;
    li{
      margin-bottom: 9px;
      .dash{
        color: #4f4f4f;
        padding-right: 3px;
        font-size: 14px;
      }
      a{
        color: #da501a;
        font-size: 14px;
        text-decoration: none;
        border-bottom: 1px solid #da501a;
      }
    }
  }
}



@import "footer";
